<a href="https://colab.research.google.com/github/markhanjin/OOP-1-2/blob/main/Python_Classes_and_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

##Create a Class

In [1]:
class Myclass:
  pass

In [2]:
class OOP1_2:
  X = 5
  print(X)

5

##Create Objects

In [3]:
class OOP1_2:
  def __init__(self,name,age):    #__init__(parameter)
    self.name = name          #attributes
    self.age = age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("Hanjin", 18) #create objects


print(person.name)
print(person.age)
print(person.identity)

Hanjin
18
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f55f7220fd0>>

In [4]:
#Modify the Object Name

person.name = "Hanjin"
print(person.name)
print(person.age)

Hanjin
18

In [5]:
person.age = 20

print(person.name)
print(person.age)

Hanjin
20

In [6]:
#Delete the Object

del person.name

In [7]:
print(person.age)
print(person.name)

20

AttributeError: ignored

Application 1 - Write a Python program that computes the area of a square, and name its class as Square, side as attributes

In [9]:
class Square:
  def __init__(self,sides):
    self.sides = sides
  
  def area(self):
    return self.sides*self.sides  #formula to compute the area of the square

  def display(self):
    print("the area of the square is:", self.area())

square = Square(4)


print(square.sides)
square.display()

4
the area of the square is: 16

Application 2 - Write a Python program that displays your full name, age, course, school. Create a class named MyClass, and name, age, school as attributes.

In [12]:
class MyClass:
  def __init__(self, name, age, course, school):
    self.name = name
    self.age = age
    self.course = course
    self.school = school

  def identity(self):
    print(self.name, self.age, self.course, self.school)

person = MyClass("Hanjin", 18, "Bachelor of Science in Computer Engineering", "CVSU-Main Campus")

print(person.name)
print(person.age)
print(person.course)
print(person.school)

Hanjin
18
Bachelor of Science in Computer Engineering
CVSU-Main Campus